# Text analysis of Biden's tweets

Stylometry: to find out the style of writing or frequency of words from Mr. Joe Biden

In [2]:
import pandas as pd

In [3]:
#read the data file we scraped from Donald Trump's twitter account
df = pd.read_csv('Biden(processed).csv', encoding='utf8')
df.head(30)

,type,id,date,tweet,comments,retweets,likes
0,fact,1326968002839908353,2020-11-12 19:20:00+00:00,I extend my deep condolences to the loved ones...,33000,5000,497000
1,fact,1326557341697839106,2020-11-11 16:08:11+00:00,"Today, we honor the service of those who have ...",8700,35000,363000
2,fact,1326344141446373376,2020-11-11 02:01:00+00:00,We are going to build a health care system tha...,24700,4000,437000
3,fact,1326306141056364544,2020-11-10 23:30:00+00:00,"When I’m speaking to foreign leaders, I’m tell...",37700,16500,632200
4,fact,1326284750420643846,2020-11-10 22:05:00+00:00,"Come January, we will work quickly with Congre...",12600,227000,305300
5,fact,1326266378991542272,2020-11-10 20:52:00+00:00,"Beginning on January 20th, Vice President-elec...",15500,33200,444500
6,fact,1325890910635384839,2020-11-09 20:00:01+00:00,"I won't be president until January 20th, but m...",161700,23900,15000
7,fact,1325885871875190784,2020-11-09 19:40:00+00:00,The bottom line: I will spare no effort to tur...,15900,29800,488500
8,fact,1325880083618426881,2020-11-09 19:17:00+00:00,The challenge before us right now is still imm...,7700,14400,248300
9,fact,1325873288711712769,2020-11-09 18:50:00+00:00,My COVID-19 Transition Advisory Board will adv...,4500,14200,197700
10,fact,1325870017401905152,2020-11-09 18:37:00+00:00,"Today, I have named a COVID-19 Transition Advi...",10500,29300,348200
11,fact,1325259242631274496,2020-11-08 02:10:00+00:00,A nation united. A nation strengthened. A nati...,40400,81400,937800
12,fact,1325258739318927361,2020-11-08 02:08:00+00:00,"With full hearts and steady hands, with faith ...",15000,46700,634200
13,fact,1325257984562192385,2020-11-08 02:05:00+00:00,"Tonight, the whole world is watching America. ...",8100,26600,344800
14,fact,1325257229625421825,2020-11-08 02:02:00+00:00,Especially for those moments when this campaig...,8600,43900,483600
15,fact,1325256474415800322,2020-11-08 01:59:00+00:00,I believe that this is part of the mandate fro...,3800,8900,146200
16,fact,1325255719336243200,2020-11-08 01:56:00+00:00,Now that the campaign is over—what is the peop...,14500,20600,252500
17,fact,1325254964415881216,2020-11-08 01:53:00+00:00,"We cannot repair the economy, restore our vita...",9700,23800,294400
18,fact,1325254461049073664,2020-11-08 01:51:00+00:00,The Bible tells us that to everything there is...,24500,47300,36400
19,fact,1325254209613123584,2020-11-08 01:50:00+00:00,It’s time to put away the harsh rhetoric. To l...,7200,21200,263100
20,fact,1325253706061926401,2020-11-08 01:48:00+00:00,"To all those who volunteered, worked the polls...",3200,13600,237100
21,fact,1325253454571270144,2020-11-08 01:47:00+00:00,"For America’s educators, this is a great day: ...",9300,75300,711400
22,fact,1325253203022241792,2020-11-08 01:46:00+00:00,I pledge to be a President who seeks not to di...,32400,33700,43100
23,fact,1325252951124762625,2020-11-08 01:45:00+00:00,"Folks, the people of this nation have spoken. ...",17900,20200,265700
24,fact,1324926298762870785,2020-11-07 04:07:00+00:00,We may be opponents — but we are not enemies. ...,32000,91300,10000
25,fact,1324925795991609348,2020-11-07 04:05:00+00:00,We have to remember the purpose of our politic...,11500,21000,370100
26,fact,1324925040660393987,2020-11-07 04:02:00+00:00,I know tensions can be high after a tough elec...,10000,20900,375600
27,fact,1324924538749026306,2020-11-07 04:00:00+00:00,We are going to be the first Democrats to win ...,6300,25000,341100
28,fact,1324924285631176704,2020-11-07 03:59:00+00:00,What is becoming clearer each hour is that rec...,5100,18900,224500
29,fact,1324923025138049027,2020-11-07 03:53:59+00:00,The numbers tell us a clear and convincing sto...,22100,57500,841800

In [4]:
#create data frame for the tweets
df_Bidentweets = pd.DataFrame(df['tweet'], columns=["tweet"])

In [5]:
#display first few
df_Bidentweets.head()

                                               tweet
0  I extend my deep condolences to the loved ones...
1  Today, we honor the service of those who have ...
2  We are going to build a health care system tha...
3  When I’m speaking to foreign leaders, I’m tell...
4  Come January, we will work quickly with Congre...

In [6]:
df_Bidentweets['word_count'] = df_Bidentweets['tweet'].apply(lambda x: len(str(x).split(" ")))
# count the word for each column
df_Bidentweets[['tweet', 'word_count']].head()
#[['titles', 'word_count']] is used to set the format of the table, the row

                                               tweet  word_count
0  I extend my deep condolences to the loved ones...          48
1  Today, we honor the service of those who have ...          49
2  We are going to build a health care system tha...          25
3  When I’m speaking to foreign leaders, I’m tell...          23
4  Come January, we will work quickly with Congre...          25

In [7]:
#removing empty values if any
df_Bidentweets['tweet'] = df_Bidentweets['tweet'].fillna("")

# Normalization

In [8]:
#split the title, turn every word into lower case and join them together
df_Bidentweets['tweet'] = df_Bidentweets['tweet'].apply(
    lambda x: " ".join(x.lower() for x in x.split()))
#display the first few
df_Bidentweets['tweet'].head()

0    i extend my deep condolences to the loved ones...
1    today, we honor the service of those who have ...
2    we are going to build a health care system tha...
3    when i’m speaking to foreign leaders, i’m tell...
4    come january, we will work quickly with congre...
Name: tweet, dtype: object

In [9]:
#removing punctuations
df_Bidentweets['tweet'] = df_Bidentweets['tweet'].str.replace('[^\w\s]', '')
df_Bidentweets['tweet'].head()

0    i extend my deep condolences to the loved ones...
1    today we honor the service of those who have w...
2    we are going to build a health care system tha...
3    when im speaking to foreign leaders im telling...
4    come january we will work quickly with congres...
Name: tweet, dtype: object

In [10]:
import nltk

In [11]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
#import the stop words list

In [1]:
#stop
#A list to know what are stop words

In [13]:
# removing stop words(word has no specific meaning eg: on, the)
df_Bidentweets['tweet'] = df_Bidentweets['tweet'].apply(
    lambda x: " ".join(x for x in x.split() if x not in stop))
df_Bidentweets['tweet'].head()

0    extend deep condolences loved ones peacekeeper...
1    today honor service worn uniform armed forces ...
2    going build health care system puts family fir...
3    im speaking foreign leaders im telling america...
4    come january work quickly congress dramaticall...
Name: tweet, dtype: object

In [14]:
import numpy as np
#removing number
df_Bidentweets['tweet'] = df_Bidentweets['tweet'].str.replace('\d+', '')
df_Bidentweets['tweet'].replace(' ', np.nan, inplace=True)

In [15]:
!pip install -U textblob 
#download textblob package
!python -m textblob.download_corpora

Requirement already up-to-date: textblob in d:\anaconda\lib\site-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in d:\anaconda\lib\site-packages (from textblob) (3.5)
Requirement already satisfied, skipping upgrade: tqdm in d:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (4.47.0)
Requirement already satisfied, skipping upgrade: regex in d:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (2020.6.8)
Requirement already satisfied, skipping upgrade: joblib in d:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (0.16.0)
Requirement already satisfied, skipping upgrade: click in d:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Finished.

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\pklok_gaming\AppData\Roaming\nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\pklok_gaming\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\pklok_gaming\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\pklok_gaming\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to
[nltk_data]     C:\Users\pklok_gaming\AppData\Roaming\nltk_data...
[nltk_data]   Package conll2000 is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     C:\Users\pklok_gaming\AppData\Roaming\nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!

In [16]:
from textblob import Word
#converts the word into its root word
df_Bidentweets['tweet'] = df_Bidentweets['tweet'].apply(
    lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df_Bidentweets['tweet'].head()

0    extend deep condolence loved one peacekeeper i...
1    today honor service worn uniform armed force u...
2    going build health care system put family firs...
3    im speaking foreign leader im telling america ...
4    come january work quickly congress dramaticall...
Name: tweet, dtype: object

In [18]:
string=' '.join(df_Bidentweets['tweet'])
# join all title into a string

In [19]:
lst=string.split()
#split the word

In [20]:
srs = pd.Series(lst) 
#store the splited word vertically

In [21]:
srs.value_counts()
#word count of each

american    10
going       10
u           10
america      9
time         7
            ..
everyone     1
georgia      1
arizona      1
record       1
call         1
Length: 296, dtype: int64

In [22]:
srs.value_counts()[:15] 
#show the top 15

american    10
going       10
u           10
america      9
time         7
nation       6
force        5
health       5
people       5
care         5
win          4
covid        4
first        4
state        4
one          4
dtype: int64

In [24]:
# common words screening 
freq_common = pd.Series(' '.join(df_Bidentweets['tweet']).split()).value_counts()[:15]
freq_common

american    10
going       10
u           10
america      9
time         7
nation       6
force        5
health       5
people       5
care         5
win          4
covid        4
first        4
state        4
one          4
dtype: int64

In [27]:
# rare words screening
freq_rare = pd.Series(' '.join(
    df_Bidentweets['tweet']).split()).value_counts()[-15:]
freq_rare

empathy         1
enemy           1
detailed        1
virus           1
understands     1
dramatically    1
precious        1
warfare         1
want            1
honor           1
everyone        1
georgia         1
arizona         1
record          1
call            1
dtype: int64

# TF-IDF

In [26]:
#distinguishing Biden's tweets with others
tf2 = df_Bidentweets['tweet'].apply(lambda x: pd.value_counts(x.split(" "))).sum(
    axis=0).reset_index()

tf2.columns = ['words', 'tf']
tf2.sort_values(['tf'], ascending=False).head(15)

        words    tf
0    american  10.0
42      going  10.0
94          u  10.0
55    america   9.0
181      time   7.0
132    nation   6.0
46     health   5.0
49       care   5.0
24      force   5.0
170    people   5.0
1         one   4.0
35     united   4.0
39      state   4.0
107     covid   4.0
236       win   4.0